/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#ira-counter {
    color: white;
    border-bottom-left-radius: 20px;
    border: none !important;
    opacity: 0;
    background-color: #C54A69;
}

main, html, header {
    background-color: #dedede;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

header {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    background-color: #0E131F;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

main {
    padding: 45px 20px 20px 20px!important;
}

#logo-modal {
    -o-object-fit: contain !important;
    object-fit: contain !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

#icon {
    width: 20em;
    position: relative;
    left: -100%;
    height: auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#logo {
    width: 160px;
    position: relative;
    height: auto;
    margin: -15px 0;
    top: -145%;
    left: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}

header div {
    border-bottom-right-radius: 20px;
}

#semestres {
    list-style: none;
    padding: 0;
}

#semestres li {
    opacity: .5;
    border-radius: 8px;
    display: -ms-grid;
    display: grid;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#semestres li:not(:first-child) {
    margin-top: 15px;
}

.options {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    place-items: center;
}

.btn-primary {
    background-color: #38405F !important;
    border-color: #38405F !important;
}

.btn-secondary {
    background-color: #C54A69 !important;
    border-color: #C54A69 !important;
}

.text-secondary {
    color: #C54A69 !important;
}

.bg-pink{
    background-color: rgba(187, 74, 105, 0.15);
}

#sobre {
    opacity: .4;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#universidade {
    width: 60px;
}

#sobre a {
    text-decoration: none;
    color: black;
}